<%- include("./partials/header.ejs") -%>
<h1 style="font-weight:900">Home</h1>
<p><%=homefirst%> </p>


<%homepost.forEach(function(element){%>
      <div class="updatedpost">
            <h1 style="font-weight:900"><%=element.title%></h1>
            <p><%=element.post.substring(0,100) %>....... <a href="/posts/<%=element.title%>" class="readmore"> Read More</a></p> 
      </div>
<%}) %>

<%- include("./partials/footer.ejs") -%>


